<ion-header>
  <ion-toolbar>
    <ion-title>Escanear Código QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="scannedData">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Resultado del Escaneo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Contenido del código QR: {{ scannedData }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-button expand="full" color="primary" (click)="startScan()">Iniciar Escaneo</ion-button>

  <ion-button expand="full" color="secondary" (click)="stopScan()">Detener Escaneo</ion-button>

  <ion-button expand="full" color="tertiary" (click)="toggleTorch()">Encender/Apagar Linterna</ion-button>
</ion-content>
